@model IEnumerable<HomeBookApp.Domain.Entities.Villa>

<div class="card border-0 p-4">
    <div class="card-header bg-success bg-gradient">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white pt-3 pb-2">Villa List</h1>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
         <div class="row pb-3">
               <div class="col-6 offset-6 text-end">
                <a asp-controller="Villa" asp-action="Create" class="btn btn-secondary">
                    <i class="bi bi-plus-lg"></i> Create New Villa
                    </a>
               </div>
         </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Sqft</th>
                    <th>Occupancy</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td>@obj.Price</td>
                        <td>@obj.Sqft</td>
                        <td>@obj.Occupancy</td>
                        <td width="25%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-contrpller="Villa" asp-action="Update" asp-route-villaId="@obj.Id" class="btn btn-success mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit 
                                </a>
                                <a asp-controller="Villa" asp-action="Delete" asp-route-villaId="@obj.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash3-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

